#AirParif {
  display: inline-block;
}

#AirParif_ville {
  color:white;
  top:0;
  vertical-align: top;
  text-align: left;
  padding-right: 5px;
  font-size: 100%;
  display: flex;
  margin-bottom: 4px;
}

#AirParif_indiceP {
  color:silver;
  top:0;
  vertical-align: top;
  text-align: left;
  padding-right: 5px;
  color: silver;
  /*font-size: 90%;*/
  place-self: flex-end;
  font-size: 0.8em;
}

#AirParif_indicePOnly {
  color:silver;
  top:0;
  vertical-align: top;
  text-align: left;
  padding-right: 5px;
  color: silver;
  /*font-size: 90%;*/
  place-self: flex-end;
  font-size: 0.8em;
  margin-left: 10px;
}

#AirParif_indice {
  text-align: left;
  color : lightsteelblue;
  align-self: center;
  margin-left: 5px;
}

#AirParif_Polluants {
  text-align: left;
  display: flex;
  flex-direction: column;
}

#AirParif_ville:before {
  font-family: "weathericons";
  content: "\f082";
  padding-right: 10px;
  color : floralwhite;
}

#AirParif_polluant {
  font-size: 0.8em;
  color : lightgray;
  display: flex;
  align-self: stretch;
}

#AirParif_polluant:before {
  font-family: "weathericons";
  content: "\f063";
  color : white;
  padding-left: 5px;
  padding-right: 5px;
  font-size : 70%;
  align-self: center;
}

#AirParif_Days {
  display: flex
}

#AirParif_indicePOnly.Bon,
#AirParif_indice.Bon,
#AirParif_indiceP.Bon {
  font-weight: lighter;
  text-align-last: right;
  align-self: end;
  flex: auto;
}

#AirParif_indicePOnly.Moyen,
#AirParif_indice.Moyen,
#AirParif_indiceP.Moyen {
  font-weight: Medium;
  text-align-last: right;
  align-self: end;
  flex: auto;
}

#AirParif_indicePOnly.Dégradé,
#AirParif_indice.Dégradé,
#AirParif_indiceP.Dégradé{
  animation: 3s linear infinite condemed_blink_effect;
  font-weight: Semi Bold;
  text-align-last: right;
  align-self: end;
  flex: auto;
}

#AirParif_indicePOnly.Mauvais,
#AirParif_indice.Mauvais,
#AirParif_indiceP.Mauvais {
  animation: 3s linear infinite condemed_blink_effect;
  font-weight: Bold;
  text-align-last: right;
  align-self: end;
  flex: auto;
}

#AirParif_indicePOnly.TrèsMauvais,
#AirParif_indice.TrèsMauvais,
#AirParif_indiceP.TrèsMauvais {
  animation: 1s linear infinite condemed_blink_effect;
  font-weight: Extra Bold;
  text-align-last: right;
  align-self: end;
  flex: auto;
}

#AirParif_indicePOnly.ExtrêmementMauvais,
#AirParif_indice.ExtrêmementMauvais,
#AirParif_indiceP.ExtrêmementMauvais {
  animation: 0.3s linear infinite condemed_blink_effect;
  font-weight: Black ;
  text-align-last: right;
  align-self: end;
  flex: auto;
}

@keyframes condemed_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

#AirParif_datax {
  margin-bottom: 10px;
}

#AirParif_next {
 font-size: 0.8rem;
}
